.link:hover {
  opacity: 0.8;
  cursor: pointer;
}

[data-toggle="tooltip"]:hover {
  opacity: 0.8;
  cursor: help;
}

.link-blue:hover {
  color: #007bff;
}

.badge-warning,
.badge-danger:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .badge {
    display: none;
  }

  #navbar_brand,
  #navigate {
    flex: 1;
  }
}
